.controls {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.controls > button {
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 10px;
  display: inline-block;
  font-size: 12px;
  outline: none;
  font-weight: bold;
  cursor: pointer;
  justify-content: center;
}